<% layout("layouts/BoilerPlate") %>
<h2>Reset Password</h2>
<form action="/reset-password/<%= token %>" method="POST">
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
  
