<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Payment Failed</h3>
        <p>There was an issue processing your payment. Please try again or contact support.</p>
        <a href="/Listings" class="btn btn-primary">Go to Listings</a>
        <a href="/checkout" class="btn btn-secondary">Try Payment Again</a>
    </div>
</div>